h2 {
  font-size: 2.75rem;
  margin: 0 0 1rem;
  font-weight: 800;
  text-align: center;
  padding-bottom: 1.5rem;
  position: relative;
  line-height: 1.2;
}

p {
  font-size: 1.10rem;
}

section {
  padding: 1rem;
}